/*  Se eu colocar um * {}, tudo dentro dele, vai selecionar o HTML inteiro*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

*focus {
    outline: none;
}